@import ../../../theme

\:host
  height: 100%
  display: flex
  flex-direction: column
  
main
  flex: 14 1
  display: flex
  justify-content: center
  align-items: center
  form
    background-color: $primary-light
    border-radius: 8px
    box-shadow: 4px 4px 2px $primary
    padding: 24px
    .actions
      flex-direction: column
      button
        align-self: center

@media (max-width: 600px)
  main
    form
      width: 80vw