<main>
  <section id="information" *ngIf="savingData">
    <header>
      <h2>Información</h2>
    </header>
    <main>
      <app-loading *ngIf="!savingData"></app-loading>
      <ng-container *ngIf="savingData">
        <div class="info saving-name">
          <h3>{{savingData.name}}</h3>
        </div>
        <div class="info">
          <div class="title">
            Participantes
          </div>
          <div class="value">
            {{savingData.userCount}}
          </div>
        </div>
        <div class="info">
          <div class="title">
            Pago minimo
          </div>
          <div class="value">
            ${{savingData.minValue}}
          </div>
        </div>
      </ng-container>
    </main>
  </section>
  <section id="messages">
    <section class="user">
      <header>
        <h2>Mensajes para ti</h2>
      </header>
      <main>
        <div class="message" *ngFor="let msg of userMessages" [ngClass]="msg.type">
          <div class="type">
            <i class="material-icons">{{msg.icon}}</i>
          </div>
          <div class="content">
            {{msg.content}}
          </div>
          <div *ngIf="msg.action" class="action">
            <button class="primary" (click)="messageAction[msg.action]()">{{msg.actionText}}</button>
          </div>
        </div>
        <app-loading *ngIf="!userMessages"></app-loading>
      </main>
    </section>
    <section class="general" *ngIf="savingData">
      <header>
        <h2>Mensajes generales</h2>
      </header>
      <main>
        <div class="message" *ngFor="let msg of generalMessages" [ngClass]="msg.type">
          <div class="type">
            <i class="material-icons">{{msg.icon}}</i>
          </div>
          <div class="content">
            {{msg.content}}
          </div>
          <div *ngIf="msg.action" class="action">
            <button class="primary" (click)="msg.action()">{{msg.actionText}}</button>
          </div>
        </div>
        <app-loading *ngIf="!generalMessages"></app-loading>
      </main>
    </section>
  </section>
  <section id="dashboard" *ngIf="savingData">
    <header>
      <h2>Resumen</h2>
    </header>
    <main>
      <section id="summary">
        <ng-container *ngIf="savingData">
          <div class="summ">
            <div class="title">
              Ahorrado
            </div>
            <div class="value">
              ${{userSaving?.savingsTotal}}
            </div>
          </div>
          <div class="summ">
            <div class="title">
              Pollas
            </div>
            <div class="value">
              ${{userSaving?.lotteryTotal}}
            </div>
          </div>
          <div class="summ">
            <div class="title">
              Eventos
            </div>
            <div class="value">
              ${{userSaving?.eventsTotal}}
            </div>
          </div>
          <div class="summ">
            <div class="title">
              Ganado pollas
            </div>
            <div class="value">
              ${{userSaving?.winTotal}}
            </div>
          </div>
          <div class="summ">
            <div class="title">
              <strong>Total</strong>
            </div>
            <div class="value">
              <strong>${{userSaving?.moneyTotal}}</strong>
            </div>
          </div>
        </ng-container>
        <app-loading *ngIf="!savingData"></app-loading>
      </section>
      <section id="months">
        <div (click)="goMonth(i)" class="month"
          *ngFor="let month of monthlySavings; let odd=odd; let even=even; let i = index"
          [style.borderColor]="verifyMonthState(month)">
          <h3>{{month.month}}</h3>
          ${{month.money}}
        </div>
        <app-loading *ngIf="!monthlySavings"></app-loading>
      </section>
    </main>
  </section>
</main>
<cst-modal id="join-modal">
  <header>
    <h3>Seleccione la natillera a la que desea solicitar ingreso</h3>
  </header>
  <main>
    <form [formGroup]="savingForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="saving">Natillera</label>
        <select formControlName="saving" id="saving" autocomplete="saving">
          <option *ngFor="let opt of savings" [value]="opt.id">{{opt.name}}</option>
        </select>
      </div>
      <div class="action-group">
        <button [disabled]="!savingForm.valid" class="primary" type="submit">Solicitar</button>
      </div>
    </form>
  </main>
</cst-modal>