@import ../../../theme

\:host
  overflow-y: auto 
  flex: 1 1
  border: 2px solid $primary-light

main
  h2
    margin: 0

#information
  main
    display: flex
    flex-wrap: wrap
  .info
    padding: 6px 12px
    flex: 1 1 10%
    display: flex
    flex-direction: column
    border: 2px dotted $primary
    &.saving-name
      justify-content: center
    .value, .title
      flex: 1 1
      text-align: center
      

#dashboard
  main
    #summary
      display: flex
      flex-wrap: wrap
      .summ
        padding: 6px 12px
        flex: 1 1 10%
        display: flex
        flex-direction: column
        border: 2px dotted $primary
        .value, .title
          flex: 1 1
          text-align: center
    #months
      display: flex
      flex-wrap: wrap
      padding: 6px
      .month
        transition: all 500ms ease-out
        display: flex
        flex: 1 1 14%
        min-width: 80px
        margin: 6px 6px
        min-height: 80px
        flex-direction: column
        text-align: center
        justify-content: center
        cursor: pointer
        border: 2px solid transparent
        background-color: $primary-light
        &:hover
          background-color: $primary-xlight
          box-shadow: 0 0 4px 4px $primary-light
        h3
          text-overflow: ellipsis
          overflow: hidden

         

#about
  flex: 1 1

#messages
  display: flex
  section
    flex: 1 1
    main
      padding: 6px
  .message
    display: flex
    padding: 6px 0
    &:not(:last-child)
      margin: 0 0 12px 0
    .type
      flex: 1 1 50px
      display: flex
      justify-content: center
      align-items: center
      max-width: 70px
      i
        font-size: 36px
    .content
      flex: 6 1
      display: flex
      align-items: center
    .action
      flex: 2 1
      display: flex
      justify-content: center
      align-items: center
    &.general
      background-color: $general-disabled-light
      border: 2px dotted $general-disabled
      .type
        i
          color: $general-disabled
      .content
        color: $general-disabled
    &.error
      background-color: $general-error-trans
      border: 2px dotted $general-error
      .type
        i
          color: $general-error
      .content
        color: $general-light
    &.warning
      background-color: $general-warning-trans
      border: 2px dotted $general-warning-dark
      .type
        i
          color: $general-warning-dark
      .content
        color: $general-warning-dark
    &.success
      background-color: $primary-light
      border: 2px dotted $primary
      .type
        i
          color: $primary
      .content
        color: $primary-xdark

section
  header
    padding: 8px 12px
    background-color: $primary
    h2
      font-size: 18px
  main
    h1, h2, h3, h4, h5, h6
      margin: 0