<header>
  <h2>{{monthName}}</h2>
</header>
<main>
  <table id="detail">
    <tr>
      <th>Concepto</th>
      <th>Cantidad</th>
    </tr>
    <tr>
      <td>Ahorro</td>
      <td>{{monthlySaving?.savings}}</td>
    </tr>
    <tr>
      <td>Polla</td>
      <td>{{monthlySaving?.lottery}}</td>
    </tr>
    <tr>
      <td>Gano polla</td>
      <td>{{monthlySaving?.win}}</td>
    </tr>
    <tr>
      <td>Evento</td>
      <td>{{monthlySaving?.events}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{monthlySaving?.money}}</td>
    </tr>
  </table>
</main>