<main>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">Nombre</label>
      <input formControlName="firstname" id="firstname" type="text" autocomplete="first-name">
      <ul *ngIf="form.firstname.value && form.firstname.dirty && form.firstname.errors" class="form-feedback">
        <li *ngIf="form.firstname.errors.pattern">Nombre no valido</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="lastname">Apellido</label>
      <input formControlName="lastname" id="lastname" type="text" autocomplete="last-name">
      <ul *ngIf="form.lastname.value && form.lastname.dirty && form.lastname.errors" class="form-feedback">
        <li *ngIf="form.lastname.errors.pattern">Apellido no valido</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" autocomplete="current-email">
      <ul *ngIf="form.email.value && form.email.dirty && form.email.errors" class="form-feedback">
        <li *ngIf="form.email.errors.email">Correo no valido</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input formControlName="password" id="password" type="password" autocomplete="current-password">
      <ul *ngIf="form.password.value && form.password.dirty && form.password.errors" class="form-feedback">
        <li *ngIf="form.password.errors.minlength">Contraseña muy corta</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="password">Repetir contraseña</label>
      <input formControlName="repeatPassword" id="repeat-password" type="password" autocomplete="repeat-password">
      <ul *ngIf="form.repeatPassword.value && form.repeatPassword.dirty && form.repeatPassword.errors"
        class="form-feedback">
        <li *ngIf="form.repeatPassword.errors.minlength">Contraseña muy corta</li>
        <li *ngIf="form.repeatPassword.errors.mustMatch">Contraseñas deben coincidir</li>
      </ul>
    </div>
    <div class="general-error" [ngClass]="{ 'show': error }">
      {{error}}
    </div>
    <div class="action-group column">
      <button class="primary" [disabled]="!signupForm.valid" type="submit">
        Registrarse
        <app-loading *ngIf="showLoading"></app-loading>
      </button>
      <a routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
    </div>
  </form>
</main>
<app-footer></app-footer>