@import ../../../../theme
  
\:host
  grid-area: header
  border-bottom: 1px solid $primary-dark

header
  height: 100%
  background-color: $primary-light
  display: flex
  padding: 0 12px

nav
  flex: 1 1
  display: flex
  justify-content: flex-end
  align-items: center
  .number
    min-width: 24px
    min-height: 24px
    border: 2px solid $primary-xdark
    margin: 0 6px
    border-radius: 50%
    background-color: $general-warning-trans
    color: $primary-xdark
    display: flex
    justify-content: center
    align-items: center
    font-weight: bold
  i
    color: $secondary-xdark
    cursor: pointer
main
  flex: 3 1
  display: flex
  align-items: center
  a
    display: flex
    text-decoration: none
    .icon
      align-self: center
      width: 30px
      margin-right: 6px
  h1, h2, h3, h4, h5, h6
    font-size: 20px
    margin: 0
    align-self: flex-end
  