$primary:                #66BB6A
$primary-light:          #A5d6A7
$primary-dark:           #43A047
$primary-xlight:         #E8f5E9
$primary-xdark:          #1B5E20
$secondary:              #FFCA28
$secondary-light:        #FFE082
$secondary-dark:         #FFB300
$secondary-xlight:       #FFF8E1
$secondary-xdark:        #FF6F00

$general-dark:           #455A64
$general-light:          #E0E0E0
$general-disabled:       #90A4AE
$general-disabled-light: #CFD8DC
$general-disabled-dark:  #607D8B
$general-error:          #B71C1C

$link:                   #1E88E5
$link-light:             #2196F3
$link-visited:           #673AB7
$link-visited-light:     #7e57C2